* {font-family: 'Edu SA Beginner', cursive;
font-family: 'Merienda', cursive;}



p {
    margin: 15px 15px;
}

.scoresHeader {
    position:absolute;
    top:20px;
    left:20px;
}

.timer {
    position: absolute;
    top:20px;
    right:20px;
}

.landing {
    text-align: center;
}

button {
    display: inline-block;
    margin: 10px;
    /* cursor:pointer; */
    color:#3F3728;
    background-color:#98ACA2;
    border-radius: 10%;
    border: 0%;
    padding: 20px;
}

button:hover {
background-color: aliceblue;
}

.options button {
    display: block;
}

.quiz, .scores {
text-align: center;
margin: 100px auto 0 auto;
max-width: 500px;
}

ol {
    padding-left: 20px;
    max-height: 500px;
    overflow: auto;
}

li {
    padding: 10px;
    list-style: deimal inside none;
}

li:nth-child(odd){
    background-color: #98ACA2;
}



@media  screen and (max-width: 750px) {
}

@media  screen and (max-width: 550px) {
    
}