* {font-family: 'Edu SA Beginner', cursive;
font-family: 'Merienda', cursive;}







.landing {
    text-align: center;
}

p {
    margin: 15px 15px;
}

button {
    display: inline-block;
    margin: 10px;
    /* cursor:pointer; */
    color:aqua;
    background-color:blanchedalmond;
    border-radius: 10%;
    border: 0%;
    padding: 20px;
}

button:hover {
background-color: aliceblue;
}

.options button {
    display: block;
}
